   @import url('reset.css');

   .container {
    width: 900px; margin: 0 auto;
   }

    .first-class a {
      color: red;
    }

    .title1 {
      font-size: 40px;
      text-transform: uppercase;
    }

    .title2 {
      font-size: 30px;
      text-transform: uppercase;
    }

    .desc + .desc {
      margin-top: 20px;
    }

    .first-class {
      width: 400px; 
      font-size: 20px; 
      color: blue; 
      background-color: aquamarine; 
      margin: 40px;
      padding: 40px;
    }

      #unique {
        width: 1200px; 
        color: brown;
        border: 4px solid darkblue;
      }

      p.first-class {
        color: coral;
        border: 2px dotted darkolivegreen;
        background-color: lightblue;
      }


       /*shop */

       div > div > div > div {
        font-size: x-large;
      }

      .wrapper {
        padding: 20px;
        background-color: gray;
      }

      .header, .body, .footer {
        padding: 10px;
        outline: 2px solid green;
        margin-bottom: 10px;
        font-size: large;
      }

      a {color: blue;}

      .header {
        background-color: orange;
        color: rgb(8, 116, 27);
       }

      .body {
        background-color: lightblue;
        color: crimson;
      }

      .footer {
       background-color: violet;
       color: rgb(64, 0, 128);
      }
